<h1>Game <%=@game.id %></h1>

<img src= "/assets/images/<%= @question_group.image %>">

<p>
  <%= @question1.text %>
</p>

<p>
  <%= @question2.text %>
</p>

<p>
  <%= @question3.text %>
</p>


<%= form_for [@game, @question_group] do |f| %>
  <%= f.collection_check_boxes(:questions, @question_group.questions, :id, :label ) %>
  <%= f.submit "Submit" %>
<% end %>


