<div class="question-group-content">
  <h1>Game <%=@game.id %></h1>

  <div class="col-md-4 image">
    <img src= "/assets/images/<%= @question_group.image %>">
  </div>
  <%= form_for [@game, @question_group] do |f| %>
    <% @question_group.questions.each do |question| %>

    <div class="question-content">
      <div class="col-md-4 questions answers">
        <span><%= question.text %></span>
      </div>

      <div class="col-md-4 questions">
        <span>
          <%= check_box_tag :questions,
                              question.id,
                              question.correct,
                              name: 'question_group[questions][]'
                              %>
        </span>
       </div>
     </div>
    <% end %>
    <%= f.submit "Next Question", class: 'btn btn-warning pull-right' %>
  <% end %>
</div>

