<h1>Name Game</h1>

<div class="new-game">
  <%= form_for @game, html: {class: "form-inline"} do |f| %>
    <%= f.select :office, ["NYC", "LDN", "HK", "Dubai"], {}, { class: 'form-control' } %>
    <%= f.submit "Start Game", class: 'btn btn-warning' %>
  <% end %>
</div>

<% if !@completed_games.empty? %>
  <h2>Game Stats</h2>

  <% @completed_games.reverse.each do |game| %>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">Game <%= game.id %> - <%= game.office %> - <%= game.created_at.strftime("%m/%d/%Y") %></div>

      <!-- Table -->
        <table class="table">
          <tr>
            <td><%= number_to_percentage(game.question_stats("name"), precision: 0 ) %> Names</td>
          </tr>
          <tr>
            <td><%= number_to_percentage(game.question_stats("title"), precision: 0 ) %> Titles</td>
          </tr>
          <tr>
            <td><%= number_to_percentage(game.question_stats("team"), precision: 0 ) %> Teams</td>
          </tr>
          <tr>
            <td><%= number_to_percentage(game.game_total_stats, precision: 0 ) %> Total</td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
<% end %>





